# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
g_key = "AIzaSyDy10C4F8ay4z6HZKTnWojvP7T_j8Clv5E"

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [5]:
cities = pd.read_csv("cities2.csv")

cities.head()

,Unnamed: 0,City Name,latitude,longitude,temperature,humidity,windspeed,cloudiness,country,date
0,0,tuktoyaktuk,69.45,-133.04,5.00,80,2.10,90,CA,1600815249
1,1,vostok,46.49,135.88,8.64,92,1.17,95,RU,1600815249
2,2,thompson,55.74,-97.86,13.00,66,4.10,75,CA,1600815124
3,3,atuona,-9.80,-139.03,25.77,72,8.65,78,PF,1600815067
4,4,albany,42.60,-73.97,17.22,38,3.58,0,US,1600815093

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:

%matplotlib inline

gmaps.configure(api_key=g_key)

locations = cities[["latitude", "longitude"]].astype(float)
weights = cities[("humidity")].astype(int)

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=weights, dissipating=False, max_intensity=300, point_radius=5)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [8]:
hotel_df = cities.loc[(cities['temperature'] < 26.60) & (cities['temperature'] > 21.11) & 
                     (cities['windspeed'] < 10.00) & (cities['cloudiness'] == 0)]
                                                         

hotel_df.dropna()
    
hotel_df

,Unnamed: 0,City Name,latitude,longitude,temperature,humidity,windspeed,cloudiness,country,date
115,115,poum,-20.23,164.02,22.36,70,2.29,0,NC,1600815324
116,116,viransehir,37.24,39.76,23.77,31,3.22,0,TR,1600815311
284,284,khorramshahr,30.44,48.17,25.00,44,4.10,0,IR,1600815356
359,359,zhob,31.34,69.45,21.62,23,1.02,0,PK,1600815369
362,362,turayf,31.67,38.66,25.00,33,4.10,0,SA,1600815370
403,403,san quintin,30.48,-115.95,26.02,51,5.53,0,MX,1600815272
483,483,binga,-17.62,27.34,21.84,52,2.05,0,ZW,1600815121
515,515,tukrah,32.53,20.58,23.13,71,2.18,0,LY,1600815395
530,530,qarchak,35.44,51.57,23.00,40,2.10,0,IR,1600815398

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [9]:
hotel_df["Hotel Name"] = ""

hotel_df

<ipython-input-9-7f54d74b4fb8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Name"] = ""

,Unnamed: 0,City Name,latitude,longitude,temperature,humidity,windspeed,cloudiness,country,date,Hotel Name
115,115,poum,-20.23,164.02,22.36,70,2.29,0,NC,1600815324,
116,116,viransehir,37.24,39.76,23.77,31,3.22,0,TR,1600815311,
284,284,khorramshahr,30.44,48.17,25.00,44,4.10,0,IR,1600815356,
359,359,zhob,31.34,69.45,21.62,23,1.02,0,PK,1600815369,
362,362,turayf,31.67,38.66,25.00,33,4.10,0,SA,1600815370,
403,403,san quintin,30.48,-115.95,26.02,51,5.53,0,MX,1600815272,
483,483,binga,-17.62,27.34,21.84,52,2.05,0,ZW,1600815121,
515,515,tukrah,32.53,20.58,23.13,71,2.18,0,LY,1600815395,
530,530,qarchak,35.44,51.57,23.00,40,2.10,0,IR,1600815398,

In [17]:



#params = {"key": g_key}
        
#loop through each city in df and retrieve closest hotel for ech city
         
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["latitude"]
    lng = row["longitude"]
 
    params["location"] = f"{lat},{lng}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    name_address = requests.get(base_url, params=params)
    name_address = name_address.json()
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

hotel_df

#name_address

/Users/rainerperry/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,Unnamed: 0,City Name,latitude,longitude,temperature,humidity,windspeed,cloudiness,country,date,Hotel Name
115,115,poum,-20.23,164.02,22.36,70,2.29,0,NC,1600815324,Gîte kajeon
116,116,viransehir,37.24,39.76,23.77,31,3.22,0,TR,1600815311,Viranşehir Öğretmenevi
284,284,khorramshahr,30.44,48.17,25.00,44,4.10,0,IR,1600815356,دفتر نمایندگی شرکت بازاریابان ایرانیان زمینBIZ
359,359,zhob,31.34,69.45,21.62,23,1.02,0,PK,1600815369,ROOM # 105 DUBAI HOTEL ZHOB
362,362,turayf,31.67,38.66,25.00,33,4.10,0,SA,1600815370,Swiss Spirit Hotel & Suites Turaif
403,403,san quintin,30.48,-115.95,26.02,51,5.53,0,MX,1600815272,Old Mill Hotel
483,483,binga,-17.62,27.34,21.84,52,2.05,0,ZW,1600815121,Lakeview Inn Binga
515,515,tukrah,32.53,20.58,23.13,71,2.18,0,LY,1600815395,استراحة لاقروتا
530,530,qarchak,35.44,51.57,23.00,40,2.10,0,IR,1600815398,لوازم قنادی و تولد تهران

In [18]:
hotel_df = hotel_df.rename(columns={"City Name": "City", "country": "Country"})

In [21]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""



# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["latitude", "longitude"]]

In [23]:
# Add marker layer ontop of heat map

layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(layer)

fig


# Display figure

Figure(layout=FigureLayout(height='420px'))